[submodule "packages/geminode-studio"]
	path = packages/geminode-studio
	url = https://github.com/bloomresearch/geminodestudio.git
[submodule "packages/reaction-studio"]
	path = packages/reaction-studio
	url = git@github.com:bloomresearch/ReactionStudio.git
